#p1{color: orange;}

#p3{ background-image: url("https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?size=626&ext=jpg&ga=GA1.2.2133330501.1641081600" );
background-size: cover;
background-repeat: no-repeat;
}