body{
    margin: 0;
    padding: 0;
    background:black;
  }
  .middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .btn{
    position: relative;
    display: block;
    color: white;
    font-size: 10px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px 10px;
    border: 2px solid rgb(211, 129, 129);
    padding: 10px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
  }
  .btn::before{
    background: rgb(230, 139, 139);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%,50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
  
  .btn1::before{
    width: 0%;
    height: 50%;
  }
  
  .btn1:hover::before{
    width: 50%;
  }
  
  
  .btn2::before{
    width: 50%;
    height: 0%;
  }
  .btn2:hover::before{
    height: 50%;
  }
  
  .btn3:before{
    width: 50%;
    height: 0%;
    transform: translate(30%,300%) rotate(45deg);
  }
  .btn3:hover:before{
    height: 30%;
  }
  
  .btn4:before{
    width: 50%;
    height: 0%;
    transform: translate(30%,30%);
  }
  .btn4:hover::before{
    height: 50%;
  }